.one{
    background-color: black;
}
#onee{
    background-color: rgb(59, 58, 58);
    color: red;
    text-align: center;
}
h2{
    color: aliceblue;
    text-align: center;
}
#imager{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
.two{
    background-color: rgb(244, 245, 246);
}#dead{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
div{
    text-align: center;
}
